@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: #212121; /* Dark blue background for the page */
  color: white; /* Light text color for the whole page */
  font-family: 'Arial', sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
